{% extends 'base.html.twig' %}
{% block title %} Customer list{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/plugins/datatables/media/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Voici la liste des clients.</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Tableau de bord</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Utilisateurs</a></li>
                <li class="breadcrumb-item active">Client</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <table id="" class="exportable display nowrap table table-hover table-striped table-bordered"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                <th>Action</th>
                            {% endif %}
                            {#<th>First name</th>#}
                            {#<th>Last name</th>#}
                            <th title="Dernière connexion">D. connexion</th>
                            <th>Nom d'utilisateur</th>
                            {#<th>Telephone</th>#}
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for l in liste %}
                            <tr>
                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                    <td>
                                        <div class="btn-group">

                                            <button type="button" class="btn btn-primary dropdown-toggle waves-effect"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    {% if l.enabled == 1 %}
                                                        <a href="{{ path('changeStat',{ 'stat': 0,'id': l.id }) }}"
                                                           title="">Désactiver le compte</a>
                                                    {% else %}
                                                        <a href="{{ path('changeStat',{ 'stat': 1,'id': l.id }) }}"
                                                           title="">Activer le compte</a>
                                                    {% endif %}
                                                </li>
                                                <li><a href="{{ path('reset_passe',{'id':l.id}) }}">Réinitialiser le mot de passe</a></li>
                                            </ul>
                                        </div>

                                    </td>
                                {% endif %}
                                {#<td>{{ l.firstname }}</td>#}
                                {#<td>{{ l.lastname }}</td>#}
                                <td>{{ l.lastLogin|date('d/m/Y H:i:s') }}</td>
                                <td>{{ l.username }}</td>
                                {#<td>{{ l.telephone }}</td>#}
                                <td>{{ l.email }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- This is data table -->
    <script src="{{ asset('dist/plugins/datatables/datatables.min.js') }}"></script>
    <!-- start - This is for export functionality only -->
    <script src="{{ asset('dist/plugins/datatables/buttons/1.2.2/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/buttons/1.2.2/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/jszip/2.5.0/jszip.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/pdfmake/0.1.18/build/pdfmake.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/pdfmake/0.1.18/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/buttons/1.2.2/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/datatables/buttons/1.2.2/js/buttons.print.min.js') }}"></script>

    <script>
        // EXPORTABLE DATATABLE
        var fr = '//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json';
        $('.exportable').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            "oLanguage": {
                "sUrl": fr
            },
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
{% endblock %}
