{% extends 'base.html.twig' %}
{% block title %} Créer un admin{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('dist/plugins/datatables/media/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}
{% block breadcrumb %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Créer un admin</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Tableau de bord</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Utilisateurs</a></li>
                <li class="breadcrumb-item active">Adminstrateurs</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form action="" METHOD="post" class="form-horizontal form-material">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="w-100">
                                    <label class="w-100">Nom d'utilisateur</label>
                                    <input type="text" required class="form-control" name="username"/>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="w-100">Email</label>
                                <div class="w-100">
                                    <input type="email" required class="form-control" name="email"/>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="w-100">Role</label>
                                <div class="w-100">
                                    <select name="role" required class="form-control" style="width: 100%">
                                        <option value="">Choisissez un rôle</option>
                                        <option value="ROLE_ADMIN">ADMIN</option>
                                        <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="w-100">Mots de passe</label>
                                <div class="w-100">
                                    <input type="password" required class="form-control" name="pass"/>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="w-100">
                                    <label>Confirmer les mots de passe</label>
                                    <input type="password" required class="form-control" name="confpass"/>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-success">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}