<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Visionaires-studion">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('dist/img/favicon/favicon-16x16.png') }}">
    <title>VIDEO APP{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('dist/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('dist/css/style.css') }}" rel="stylesheet">
        <!-- You can change the theme colors from here -->
        <link href="{{ asset('dist/css/green.css') }}" id="theme" rel="stylesheet">
    {% endblock %}
    {#<link rel="icon" type="image/x-icon" href="{{ asset('dist/img/favicon/favicon.ico') }}"/>#}
</head>
<body class="fix-header fix-sidebar card-no-border" id="body">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
{% block body %}

<div id="main-wrapper">

    {% block header %}
        {% include 'block/header.html.twig' %}
    {% endblock %}
    {% block sidemenu %}
    {#{% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}#}
    {#{% include 'block/admin_sidebar.html.twig' %}#}
    {#{% else %}#}
    {% include 'block/sidebar.html.twig' %}
    {#{% endif %}#}
    {% endblock %}
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                {% block breadcrumb %}
                {% endblock %}
                {% block errospan %}
                    {% for message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <i class="fa fa-exclamation fa-fw"></i><strong>{{ message|raw }}</strong>
                        </div>

                    {% endfor %}

                    {% for message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <i class="fa fa-check-circle fa-fw"></i> {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
</div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('dist/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ asset('dist/plugins/popper/popper.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{{ asset('dist/js/jquery.slimscroll.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ asset('dist/js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ asset('dist/js/sidebarmenu.js') }}"></script>
    <!--stickey kit -->
    <script src="{{ asset('dist/plugins/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('dist/js/custom.min.js') }}"></script>
    <script src="{{ asset('dist/js/main.js') }}"></script>

{% endblock %}
</body>
</html>
