{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Tableau de bord</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Tableau de bord</a></li>
                {#<li class="breadcrumb-item active">Dashboard</li>#}
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6"></div>
    </div>
{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
     <link href="{{ asset('dist/plugins/dtables/dataTables.min.css') }}" rel="stylesheet">
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- This is data table -->
    <script src="{{ asset('dist/plugins/dtables/datatables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Responsive-2.2.2/js/dataTables.responsive.min.js') }}"></script>
    <!-- start - This is for export functionality only -->
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/JSZip-2.5.0/jszip.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/pdfmake.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/vfs_fonts.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.print.min.js') }}"></script>

    <script>
        $('.exportable').DataTable({
            responsive: true,
        });
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust()
                .responsive.recalc();
        });
    </script>
{% endblock %}