{% extends 'base.html.twig' %}

{% block breadcrumb %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
                <h4 class="font-weight-bold">Vidéos récentes</h4>
            <div class="row">
                {% for v in recent %}
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top img-responsive" src="{{ emplacementthumb~v.thumbnail }}"
                            alt="Video Thumbnail" style="height: 150px;">
                            <div class="card-body">
                                <h4 class="card-title">{{ v.title }}</h4>
                                <p class="card-text"><small>Catégorie: <b>{{ v.category.title }}</b></small></p>
                                <a href="{{ path('video_show',{'id':v.id}) }}" class="btn btn-primary">Lire</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

            </div>
            <hr>
                <h4 class="font-weight-bold">Mes vidéos</h4>
            <div class="row">
                {% for v in myVideo %}
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top img-responsive" src="{{ emplacementthumb~v.video.thumbnail }}"
                                 alt="Video Thumbnail" style="height: 100px;">
                            <div class="card-body">
                                <h4 class="card-title">{{ v.video.title }}</h4>
                                <p class="card-text"></p>
                                <a href="{{ path('video_show',{'id':v.id}) }}" class="btn btn-primary">Lire</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <h3>Vous avez  accéder à aucune vidéo</h3>
                {% endfor %}

            </div>
        </div>
        {#<div class="col-md-3"></div>#}
    </div>
{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
     <link href="{{ asset('dist/plugins/dtables/dataTables.min.css') }}" rel="stylesheet">
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- This is data table -->
    <script src="{{ asset('dist/plugins/dtables/datatables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Responsive-2.2.2/js/dataTables.responsive.min.js') }}"></script>
    <!-- start - This is for export functionality only -->
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/JSZip-2.5.0/jszip.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/pdfmake.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/vfs_fonts.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.print.min.js') }}"></script>

    <script>
        var fr = '//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json';
        $('.exportable').DataTable({
            responsive: true,
            "oLanguage": {
                "sUrl": fr
            },
        });
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust()
                .responsive.recalc();
        });
    </script>
{% endblock %}