{% extends 'base.html.twig' %}
    {% block title %} {% endblock %}
    {% block header %}{% endblock %}
    {% block sidemenu %}{% endblock %}
    {% block body %}
        {% block fos_user_content %}

            <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../dist/img/login-register.jpg);">
                <div class="login-box card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" id="loginform" action="">
                            <a href="javascript:void(0)" class="text-center db">
                                <h2 class="font-weight-bold">VIDEO APP</h2>
                            </a>
                            <h3 class="box-title m-t-40 m-b-0">S'inscrire maintenant</h3><small>Créez votre compte et profitez d'un accès complet à notre vidéothèque</small>
                            <div class="form-group m-t-20">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" placeholder="Nom d'utilisateur">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" required="" placeholder="Mot de passe">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="password" required="" placeholder="Confirmer mot de passe">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <div class="checkbox checkbox-primary p-t-0">
                                        <input id="checkbox-signup" type="checkbox">
                                        <label for="checkbox-signup"> J'accepte tous les <a href="#">termes</a></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">S'inscrire</button>
                                </div>
                            </div>
                            <div class="form-group m-b-0">
                                <div class="col-sm-12 text-center">
                                    Vous avez déjà un compte ? <a href="{{ path('fos_user_security_login') }}" class="text-info m-l-5"><b>Connexion</b></a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </section>
        {% endblock fos_user_content %}
    {% endblock %}
