<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile" style="background: url(../dist/img/user-info.jpg) no-repeat;">
            <!-- User profile image -->
            {#<div class="profile-img"><img src="{{ asset('dist/img/1.jpg') }}" alt="user"/></div>#}
            <!-- User profile text-->
            <div class="profile-text"><a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown"
                                         role="button" aria-haspopup="true"
                                         aria-expanded="true">{#{ app.user.username }#}</a>
                <div class="dropdown-menu animated flipInY">

                    <a href="{#{ path('clients_edit',{'id':app.user.id}) }#}"
                       class="dropdown-item">
                        <i class="ti-user"></i> My Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('fos_user_security_logout') }}" class="dropdown-item text-danger"><i
                                class="fa fa-power-off"></i> Déconnexion</a>
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" href="{#{ path('dashboard') }#}"><i
                                class="ti-dashboard"></i><span class="hide-menu"> Dashboard </span></a>
                </li>
                <li><a class="has-arrow waves-effect waves-dark" href="#"><i
                                class="fas fa-question-circle"></i><span class="hide-menu"> TC & Contact</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="{#{ path('t_and_c') }#}" style="font-size:14px;">T&C</a></li>
                        <li><a href="{#{ path('contacts') }#}" style="font-size:14px;">Contact</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    {#<div class="sidebar-footer">#}
    {#<!-- item-->#}
    {#<a href="#" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>#}
    {#<!-- item-->#}
    {#<a href="#" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>#}
    {#<!-- item-->#}
    {#<a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>#}
    {#</div>#}
    <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->