<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                <!-- Logo icon -->
                <b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    {#<img src="{{ asset('dist/img/logo-black.png') }}" alt="homepage" class="dark-logo"/>#}
                    <!-- Light Logo icon -->
                    {#<picture>#}
                    {#<source media="(min-width: 1440px)" srcset="{{ asset('dist/img/logo-white.png') }}" class="light-logo">#}
                    {#<source media="(min-width: 1280px)" srcset="{{ asset('dist/img/logo-white.png') }}" class="light-logo">#}
                    {#<source media="(min-width: 768px)" srcset="{{ asset('dist/img/logo-white.png') }}" class="light-logo">#}
                    {#<source media="(min-width: 650px)" srcset="{{ asset('dist/img/logo-white-icon.png') }}" class="light-logo">#}
                    {#<source media="(min-width: 465px)" srcset="{{ asset('dist/img/logo-white-icon.png') }}" class="light-logo">#}
                    {#<source media="(min-width: 375px)" srcset="{{ asset('dist/img/logo-white-icon.png') }}" class="light-logo">#}
                    {#<source media="(min-width: 320px)" srcset="{{ asset('dist/img/logo-white-icon.png') }}" class="light-logo">#}
                    {#<img src="{{ asset('dist/img/logo-white-icon.png') }}" alt="Logo" style="width:auto;" class="light-logo">#}
                    {#</picture>#}
                    {#<img src="{{ asset('dist/img/logo-white.png') }}" alt="homepage" id="logoImg" class="light-logo"/>#}
                    {#<img src="{{ asset('dist/img/logo-white-icon.png') }}" alt="homepage" id="logoIcon"#}
                    {#/>#}
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
                    <div class="font-weight-bold text-white" style="font-size: 28px;display: inline;">VIDEO APP</div>
                    <!-- dark Logo text -->
                    {#<img src="{{ asset('dist/img/logo-black.png') }}" alt="homepage" class="dark-logo"/>#}
                    <!-- Light Logo text -->
                    {#<img src="{{ asset('dist/img/logo-white.png') }}" class="light-logo" alt="homepage"/>#}
                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mt-md-0">
                <!-- This is  -->
                <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                <li class="nav-item"><a
                            class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"
                            href="javascript:void(0)"><i id="toggleImg" class="ti-menu"></i></a></li>

            </ul>

            <ul class="navbar-nav w-100 ml-5 my-lg-0">
                {#{% if is_granted('ROLE_CLIENT') %}#}
                    {#<li class="nav-item dropdown w-100">#}
                        {#<a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark w-100" href="#"#}
                           {#data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                            {#<i class="mdi mdi-message"></i>#}
                            {#<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>#}
                            {#{% block weeklyinfo %}#}

                                {#{{ render(controller('AppBundle:Default:weeklyinfo')) }}#}
                            {#{% endblock %}#}
                        {#</a>#}

                    {#</li>#}
                {#{% endif %}#}
            </ul>
        </div>
    </nav>
</header>
