{% extends 'base.html.twig' %}
    {% block title %} {% endblock %}
    {% block header %}{% endblock %}
    {% block sidemenu %}{% endblock %}
    {% block body %}
        {% block fos_user_content %}

            <section id="wrapper" class="login-register login-sidebar" style="background-image:url(../dist/img/login-register.jpg);">
                <div class="login-box card">
                    <div class="card-body">
                        {% if error %}
                            <div class="col-md-12" style="color: red;text-align: center;padding-bottom: 10px;">
                                <b>
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </b>
                            </div>
                        {% else %}
                            {% for message in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger alert-alt">
                                    <i class="fa fa-exclamation fa-fw"></i>
                                    <strong>{{ message|raw }}</strong>
                                </div>
                            {% endfor %}

                            {% for message in app.session.flashbag.get('success') %}
                                <div class="alert alert-success alert-alt">
                                    <i class="fa fa-thumbs-up fa-fw"></i>
                                    {{ message|raw }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form class="form-horizontal form-material" id="loginform" action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            <a href="javascript:void(0)" class="text-center db">
                                {#<img src="../assets/images/logo-icon.png" alt="Home" />#}
                                    <h2 class="font-weight-bold">VIDEO APP</h2>
                                <br>
                            </a>
                            <div class="form-group m-t-40">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" name="_username" placeholder="Nom d'utilisateur">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="pwd1" required name="_password" placeholder="Entrez le mot de passe"><div class="input-group-append">
                                                <span class="input-group-text" id="displayPassword">
                                                    <i class="ti-eye"></i>
                                                </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {#<div class="form-group">#}
                                {#<div class="d-flex no-block align-items-center">#}
                                    {#<div class="checkbox checkbox-primary p-t-0">#}
                                        {#<input id="checkbox-signup" type="checkbox">#}
                                        {#<label for="checkbox-signup"> Remember me </label>#}
                                    {#</div>#}
                                    {#<div class="ml-auto">#}
                                        {#<a href="javascript:void(0)" id="to-recover" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Connexion</button>
                                </div>
                            </div>
                            <div class="row">
                                {#<div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">#}
                                    {#<div class="social">#}
                                        {#<button class="btn btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </button>#}
                                        {#<button class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fab fa-google-plus-g"></i> </button>#}
                                    {#</div>#}
                                {#</div>#}
                            </div>
                            <div class="form-group m-b-0">
                                <div class="col-sm-12 text-center">
                                    Vous n'avez pas de compte ? <a href="{{ path('register') }}" class="text-primary m-l-5"><b>Inscrivez-vous</b></a>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" id="recoverform" action="#">
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <h3>Recover Password</h3>
                                    <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        {% endblock fos_user_content %}
    {% endblock %}
