{{ form_start(form) }}
<div class="form-group">
    <div class="fg-line">
        {{ form_label(form.title) }}
        {{ form_widget(form.title  , {'attr' : {'class' : 'form-control'}}
        ) }}
    </div>
</div>
<button class="btn btn-primary">{{ button_label }}</button>
{{ form_end(form) }}