{% extends 'base.html.twig' %}
{% block title %} Création de catégories{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('dist/plugins/datatables/media/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
    {% endblock %}
{% block breadcrumb %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Création de catégories</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Tableau de bord</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Videos</a></li>
                <li class="breadcrumb-item active">Catégories</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% include 'categories/form.html.twig' with {'button_label':'Create'} %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
