{% extends 'base.html.twig' %}
{% block title %} Categories list{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('dist/plugins/dtables/dataTables.min.css') }}" rel="stylesheet">
        <link href="{{ asset('dist/css/video-js.css') }}" rel="stylesheet">
        <link href="{{ asset('dist/css/videoJsTheme/sea-index.css') }}" rel="stylesheet">
    {% endblock %}
{% block breadcrumb %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Listes des video</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)"> Tableau de bord </a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Videos</a></li>
                <li class="breadcrumb-item active">Listes de vidéos</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {% for video in videos %}
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <img src="{{ emplacementthumb~video.thumbnail }}" class="img-fluid img-responsive"
                                     alt="Video Thumbnail" style="width: 30%;"/>
                            </div>
                            <div class="col-md-5">
                                <h4>{{ video.title }}</h4>
                            </div>
                            <div class="col-md-2">
                                <a href="{{ path('video_show', { 'id': video.id }) }}" class="btn btn-outline-primary">Lire
                                    <i class="fas fa-play"></i></a>

                            </div>
                            <div class="col-md-2">
                                <small>{% if video.created %}{{ video.created|date('Y-m-d H:i:s') }}
                                        <br>
                                        <span class="text-muted">Crée le</span>
                                    {% endif %}</small>
                            </div>
                            <hr>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <!-- This is data table -->
        <script src="{{ asset('dist/plugins/dtables/datatables.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/Responsive-2.2.2/js/dataTables.responsive.min.js') }}"></script>
        <!-- start - This is for export functionality only -->
        <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/JSZip-2.5.0/jszip.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/pdfmake.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/vfs_fonts.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('dist/js/videojs-ie8.min.js') }}"></script>

        <script>
            // EXPORTABLE DATATABLE
            $('.exportable').DataTable({
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });

        </script>
    {% endblock %}

