
{% extends 'base.html.twig' %}
{% block title %} Modifier video{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('dist/plugins/datatables/media/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
        <link href="{{ asset('dist/css/video-js.css') }}" rel="stylesheet" />
        <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
    {% endblock %}
{% block breadcrumb %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Modifier video</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)"> Tableau de bord </a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Videos</a></li>
                <li class="breadcrumb-item active">Listes de vidéos</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card pt-3">
                <a class="btn btn-info w-25 ml-3" href="{{ path('video_index') }}">Retournez à la liste</a>
                <div class="card-body">
                    {% include 'video/form.html.twig' with {'button_label':'Modifier'} %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/js/videojs-ie8.min.js') }}"></script>
    <script>
        $('form[name="appbundle_video"]').css('width','100%').attr('enctype', 'multipart/form-data');
    </script>
{% endblock %}
