{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.title) }}
                {{ form_widget(form.title  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div><div class="col-md-6">
        <div class="form-group">
            <div class="fg-line">
                <label for="">Télécharger une vidéo (<small class="font-weight-bold">Format autorisé : MP4, AVI, WEBM</small>)</label>
                {% if video is defined and video.videoLink is not null %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <video class="embed-responsive-item video-js vjs-theme-sea" preload="false"
                               height="300"
                               poster="{{ emplacementthumb~video.thumbnail }}"
                               data-setup="{}">
                            <source src="{{ emplacementvide~video.videoLink }}"
                                    type="video/{{ video.videoExt }}">
                            {#<source src="movie.ogg" type="video/ogg">#}
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <input type="file" class="form-control" name="videoLink" id="" >
                {% else %}
                    <input type="file" class="form-control" name="videoLink" id="" required="">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="fg-line">
                <label for="">Télécharger la vignette vidéo (<small class="font-weight-bold">Format autorisé : JPG, PNG, WEBP</small>)</label>
                {% if video is defined and video.thumbnail is not null %}
                    <img src="{{ emplacementthumb~video.thumbnail }}" class="img-fluid img-responsive"
                         alt="Video Thumbnail"/> <br>
                    <input type="file" class="form-control" name="thumbnail" id="" >
                {% else %}
                    <input type="file" class="form-control" name="thumbnail" id="" required="">
                {% endif %}
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.category) }}
                {{ form_widget(form.category  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.status) }}
                {{ form_widget(form.status  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="fg-line">
                {{ form_label(form.description) }}
                {{ form_widget(form.description  , {'attr' : {'class' : 'form-control'}}
                ) }}
            </div>
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label }}</button>
</div>
{{ form_end(form) }}
