{% extends 'base.html.twig' %}
{% block title %} Listes de vidéos{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('dist/plugins/dtables/dataTables.min.css') }}" rel="stylesheet">
    {% endblock %}
{% block breadcrumb %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Listes de vidéos</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Tableau de bord</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Videos</a></li>
                <li class="breadcrumb-item active">Listes de vidéos</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {#{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}#}
                    <div class="col-md-12 mb-3">
                        <a href="{{ path('video_new') }}" class="btn btn-success float-right"><i
                                    class="fa fa-plus"></i> Cree une video</a>
                    </div>
                    {#{% endif %}#}
                    <table id="" class="exportable display nowrap table table-hover table-striped table-bordered"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>S/n</th>
                            <th>&nbsp;</th>
                            <th>Titre</th>
                            {#<th>Description</th>#}
                            <th>Catégorie</th>
                            <th>Créé le</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i =0 %}
                        {% for video in videos %}
                            {% set i =i+1 %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>
                                    <img src="{{ emplacementthumb~video.thumbnail }}" class="img-fluid img-responsive"
                                         alt="Video Thumbnail" style="width: 30%;"/>
                                </td>
                                <td>{{ video.title }}</td>
                                {#<td>{{ video.description }}</td>#}
                                <td>{{ video.category.title }}</td>
                                <td>{% if video.created %}{{ video.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>

                                    <a class="btn btn-warning"
                                       href="{{ path('video_show', { 'id': video.id }) }}">Voir</a>
                                    <a class="btn btn-outline-info" href="{{ path('video_edit', { 'id': video.id }) }}">Modifié</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <!-- This is data table -->
        <script src="{{ asset('dist/plugins/dtables/datatables.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/Responsive-2.2.2/js/dataTables.responsive.min.js') }}"></script>
        <!-- start - This is for export functionality only -->
        <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/JSZip-2.5.0/jszip.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/pdfmake.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/vfs_fonts.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.print.min.js') }}"></script>

        <script>
            // EXPORTABLE DATATABLE
            var fr = '//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json';
            $('.exportable').DataTable({
                responsive: true,
                dom: 'Bfrtip',
                "oLanguage": {
                    "sUrl": fr
                },
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });

        </script>
    {% endblock %}

