{% extends 'base.html.twig' %}
{% block title %} Détails de la vidéo{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('dist/plugins/datatables/media/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
        <link href="{{ asset('dist/plugins/select2/dist/css/select2.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('dist/plugins/multiselect/css/multi-select.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('dist/css/video-js.css') }}" rel="stylesheet" />
        <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
    {% endblock %}
{% block breadcrumb %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Détails de la vidéo</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)"> Tableau de bord </a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Videos</a></li>
                <li class="breadcrumb-item active">Listes de vidéos</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card pt-3">
                <a class="btn btn-info w-25 ml-3" href="{{ path('video_index') }}">Retournez à la liste</a>
                <div class="card-body">
                    <h3 class="text-uppercase">{{ video.title }}</h3>
                    <div class="row">

                        <div class="col-md-7">
                            <section>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <video id="my-video" class="video-js vjs-theme-sea" controls
                                           preload="true"
                                           height="400"
                                           poster="{{ emplacementthumb~video.thumbnail }}"
                                           data-setup="{}">
                                        <source src="{{ emplacementvide~video.videoLink }}"
                                                type="video/{{ video.videoExt }}">
                                        {#<source src="movie.ogg" type="video/ogg">#}
                                        Votre navigateur ne prend pas en charge la balise vidéo.
                                    </video>
                                </div>
                            </section>
                            <section class="mt-3 p-3">
                                <h5>Description</h5>
                                {{ video.description }}
                            </section>
                        </div>
                        <div class="col-md-5">

                            <div class="mt-2">
                                Catégorie:&nbsp;<b>{{ video.category.title }}</b> <br>
                                Crée le:&nbsp;
                                <b>{% if video.created %}{{ video.created|date('Y-m-d H:i:s') }}{% endif %}</b>
                            </div>
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                            <hr>
                            <h4 class="w-100">Les utilisateurs autorisés
                                <button type="button" class="btn btn-success float-right"
                                        title="Assigner un utilisateur à cette vidéo"
                                        data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>
                                </button>
                            </h4>
                            <table class="exportable display nowrap table table-hover table-striped table-bordered"
                                   cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Username</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for a in assigeUser %}
                                    <tr>
                                        <td><a title="Désassigner l'utilisateur" class="btn btn-danger" href="{{ path('unassign_user',{'id': a.id}) }}">
                                                <i class="fa fa-times-circle"></i>
                                            </a>
                                        </td>
                                        <td>{{ a.user.username }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{{ path('video_assign') }}" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sélectionner les utilisateurs</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <select name="users[]" id="" required multiple="multiple" class="form-control myselect2 w-100">
                            {% for c in clientListe %}
                                <option value="{{ c.id }}">{{ c.username }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" value="{{ video.id }}" name="videoId">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Autoriser l'utilisateur</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('dist/plugins/select2/dist/js/select2.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $('.myselect2').select2({
            width: '100%'
        });
    </script>
    <!-- This is data table -->
    <script src="{{ asset('dist/plugins/dtables/datatables.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Responsive-2.2.2/js/dataTables.responsive.min.js') }}"></script>
    <!-- start - This is for export functionality only -->
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/JSZip-2.5.0/jszip.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/pdfmake.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/pdfmake-0.1.36/vfs_fonts.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/dtables/Buttons-1.5.6/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('dist/js/videojs-ie8.min.js') }}"></script>

    <script>
        // EXPORTABLE DATATABLE
        var fr = '//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json';
        $('.exportable').DataTable({
            responsive: true,
            "oLanguage": {
                "sUrl": fr
            },
            "bLengthChange": false
        });

    </script>
{% endblock %}
